<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gtk.shardingsphere.mapper.AdminUserMapper">
  <resultMap id="BaseResultMap" type="com.gtk.shardingsphere.domain.AdminUser">
    <!--@mbg.generated generated on Mon Feb 03 17:09:23 CST 2020.-->
    <!--@Table admin_user-->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="role" jdbcType="INTEGER" property="role" />
  </resultMap>
</mapper>